In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB,MultinomialNB

In [13]:
df = pd.read_csv('twitter_training.csv')

In [14]:
df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74681 entries, 0 to 74680
Data columns (total 4 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   2401                                                   74681 non-null  int64
 1   Borderlands                                            74681 non-null  object
 2   Positive                                               74681 non-null  object
 3   im getting on borderlands and i will murder you all ,  73995 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.3+ MB

In [17]:
df['Tag'] = df['Borderlands']
df['sentiment'] = df['Positive']
df['text'] = df['im getting on borderlands and i will murder you all ,']
df = df.drop(['2401','Borderlands','Positive','im getting on borderlands and i will murder you all ,'],axis=1)
df.head()

           Tag sentiment                                               text
0  Borderlands  Positive  I am coming to the borders and I will kill you...
1  Borderlands  Positive  im getting on borderlands and i will kill you ...
2  Borderlands  Positive  im coming on borderlands and i will murder you...
3  Borderlands  Positive  im getting on borderlands 2 and i will murder ...
4  Borderlands  Positive  im getting into borderlands and i can murder y...

In [18]:
pd.get_dummies(df['Tag'],drop_first=True)

,ApexLegends,AssassinsCreed,Battlefield,Borderlands,CS-GO,CallOfDuty,CallOfDutyBlackopsColdWar,Cyberpunk2077,Dota2,FIFA,...,Overwatch,PlayStation5(PS5),PlayerUnknownsBattlegrounds(PUBG),RedDeadRedemption(RDR),TomClancysGhostRecon,TomClancysRainbowSix,Verizon,WorldOfCraft,Xbox(Xseries),johnson&johnson
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74676,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74677,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74678,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74679,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
74680,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
pd.get_dummies(df['sentiment'],drop_first=True)

       Negative  Neutral  Positive
0             0        0         1
1             0        0         1
2             0        0         1
3             0        0         1
4             0        0         1
...         ...      ...       ...
74676         0        0         1
74677         0        0         1
74678         0        0         1
74679         0        0         1
74680         0        0         1

[74681 rows x 3 columns]

In [20]:
df

,Tag,sentiment,text
0,Borderlands,Positive,I am coming to the borders and I will kill you...
1,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,Borderlands,Positive,im coming on borderlands and i will murder you...
3,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...
74676,Nvidia,Positive,Just realized that the Windows partition of my...
74677,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,Nvidia,Positive,Just realized between the windows partition of...
74680,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [31]:
df = df.drop(df[df['sentiment']=='Neutral'].index,axis=0)

In [33]:
df

,Tag,sentiment,text
0,Borderlands,Positive,I am coming to the borders and I will kill you...
1,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,Borderlands,Positive,im coming on borderlands and i will murder you...
3,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...
74676,Nvidia,Positive,Just realized that the Windows partition of my...
74677,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,Nvidia,Positive,Just realized between the windows partition of...
74680,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [35]:
df = df.drop(df[df['sentiment']=='Irrelevant'].index,axis=0)

In [36]:
df

,Tag,sentiment,text
0,Borderlands,Positive,I am coming to the borders and I will kill you...
1,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,Borderlands,Positive,im coming on borderlands and i will murder you...
3,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...
74676,Nvidia,Positive,Just realized that the Windows partition of my...
74677,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,Nvidia,Positive,Just realized between the windows partition of...
74680,Nvidia,Positive,Just like the windows partition of my Mac is l...